<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
* {
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

button {
  cursor: pointer;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
</style>
